# zet hier alle bestanden en mappen die je wilt negeren. Door naam of extensie te specificeren.
*.env
venv/
Niet meer in gebruik/
.vscode/
models/

# Jupyter Notebook checkpoints:
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb